$primary: #ffd700;
$secondary: #9951ff;
$light: #faf7ff;
$dark: #6900ff;

$font-family-sans-serif: "Montserrat", sans-serif;
$headings-font-family: "Comfortaa", sans-serif;
$headings-font-weight: 700;

$body-color: $light;

$input-bg: transparent;
// $input-disabled-bg: $gray-200 !default;

$input-color: $primary;
$input-border-color: $secondary;
$input-box-shadow: 0;

$input-focus-box-shadow: 0;
$input-focus-border-color: $primary;
$input-focus-color: $primary;

$input-placeholder-color: rgba(white, 0.7);

$btn-focus-box-shadow: 0;
$btn-box-shadow: 0;

$container-max-widths: (
  sm: 540px,
)
