.answer {
  width: 100%;
  height: 150px;
}

// Answered Waiting
// .floating-badge {
//   position: absolute;
//   margin: 0 auto;
//   bottom: 5rem;
//   left: 0;
//   right: 0;
//   width: 90%;
// }

// voting
.voting-answers {
  .list-group-item {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }

  .badge {
    display: flex;
    align-self: center;
  }
}

// Voting results

.user-siked-by {
  text-align: center;
  margin-bottom: 4rem;
}

.user-siked {
  margin-bottom: 4rem;

  .list-group-item {
    background-color: transparent;
    padding-left: 0;
  }
}

.current-score {
  position: fixed;
  left: 0;
  bottom: -1rem;
  padding: 1rem;
  background-color: $light;
  color: $dark;
  width: 100%;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
}