.answer {
  width: 100%;
  height: 150px;
}


// voting

.voting-answers {
  .list-group-item {
    background-color: transparent;
  }
}


.clickable-answer {
  cursor: pointer;
}

.non-clickable-answer {
  color: grey
}
